<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 定义日志文件的存储地址 -->
  <property name="PROJECT_NAME" value="java-code-snap"/>
  <property name="LOG_HOME" value="/var/logs/java/${PROJECT_NAME}"/>
  <property name="LOG_FORMAT"
    value="[%X{traceId}] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

  <!-- 控制台输出 -->
  <appender scop="context" name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_FORMAT}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- 应用包的日志级别 -->
  <logger name="com.ares" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>